body{
  font-family: Arial;
  text-align:center;
  background:#e9e9e9;
}

.toolbar{
  margin:10px;
}

button{
  padding:8px;
  margin:3px;
  cursor:pointer;
}

canvas{
  background:white;
  border:2px solid black;
}
